/*-------GLOBAL-------*/
/* font*/
/* for this project i will be using vw as a unit for font size, 
referenced from https://www.w3schools.com/howto/howto_css_responsive_text.asp*/
* {
  font-family: "DM Sans", serif;
}

/* header */

#logo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2.5vw;
  border: 0.2rem solid black;
  display: inline;
  padding: 0.2rem;
}
ul {
  display: flex;
  list-style: none;
  padding-left: 0rem;
  border: 0.2rem solid black;
  padding: 0.5rem;
}
li {
  margin-right: 10rem;
  margin-top: 0rem;
  font-size: 1.5vw;
  font-weight: bold;
}
a {
  color: black;
}
.header-img {
  width: 100%;
  margin-top: 1rem;
}

/* footer */
footer {
  margin-top: 5rem;
  border-top: 0.1rem solid black;
}

/*-------PORTFOLIO-------*/

/* portfolio items */
#project-title {
  font-size: 2.5vw;
  margin-top: 2rem;
  margin-bottom: 2rem;
}
figure {
  margin-top: 0;
}
.portfolio-item {
  width: 70%;
  border: 0.2rem solid black;
}

.portfolio-cap {
  font-size: 1.5vw;
  font-weight: bold;
}
.portfolio-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* detail page*/
.detail-item {
  width: 80%;
}

.detail-container {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}
#fala-header {
  font-size: 2vw;
}

#fala-detail {
  font-size: 1.5vw;
}

/*-------CONTACT-------*/
.contact-form {
  margin-top: 0;
  margin-bottom: 2rem;
}
